table,
th,
td {
  border: 1px solid red;
  border-collapse: collapse;
}
table {
  width: 80%;
}
.alltxt {
  margin-left: 150px;
}
hr {
  width: 80%;
  height: 2px;
  background: rgb(10, 245, 245);
  border: none;
}
img {
  width: 150px;
  height: 150px;
}
h2 {
  margin-top: -5px;
  color: black;
}
h5 {
  color: chocolate;
}
